* {
  --md-primary-fg-color: #003594;
  /* --md-primary-fg-color--light: #029c8e;
  --md-primary-fg-color--dark:  #303C55;
  --md-typeset-color:   var(--md-default-fg-color);
  --md-typeset-a-color: var(--md-primary-fg-color--light);
  --md-text-font: "Telegraf-Regular" */
}

/* :root {
  --md-primary-fg-color: #181917;
  --md-primary-fg-color--light: #000;
  --md-primary-fg-color--dark:  #303C55;
} */

/* :root>* {
  --md-primary-bg-color:   #000;
  --md-typeset-color:   var(--md-default-fg-color);
  --md-typeset-a-color: var(--md-primary-fg-color--light);
} */

/* GALASA */
/* $color-main-bg: #efefef;
$color-nav-marker: #e3e3e3;

$theme-color: #003594;
$highlight-color: #eea209; */

div.md-content h1, .key-feature-module--title {
  /* color: #000000;
  line-height: 49px;
  font-size: 42px;
  font-weight: 400; */
  color: var(--md-typeset-color);
  display: inline;
  background-image: linear-gradient(0deg, #f8f68f 40%, transparent 40%);
}
